/*Home Page*/

.main-background-image {
    background-image: url("img/Sri-Lanka.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-name{
    font-size: medium;
    font-style: italic;
    color: rgb(255, 251, 251);
    text-align: center;
}
.hero-section-p{
    font-size: small;
    font-style: italic;
    color: aliceblue;
    text-align: center;
}
.footer-backgraound{
    background-image: url("img/beach.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-body-h2{
    font-size: xx-large;
    text-align: center;
    color: rgb(6, 51, 77);
    font-style: italic;
}
.main-body-h6{
    font-size: xx-small;
    text-align: center;
    color: rgb(23, 41, 94);
}
.main-body-p{
    text-align: center;
    color: #32446f;
    font-size: smaller;
}
.main-button-01{
    text-align: center;
}
.button-001{
    background-color: #1f3b7c;
    color: rgb(250, 251, 251);
    border: #2026cc;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
}
.main-p2-main{
    text-align: left;
    color: #2f426c;
}
.main-p2{
    background-color: #2b5c8e;
}
.main-p2-main-2{
    color: rgb(74, 113, 136);
}
.main-p2-main-3{
    color: #f7f7f8;
    f
}
/*About Page*/

.main-background-image-02 {
    background-image: url("img/pic\ 3\ train.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.About-main-h1{
    color: #32446f;
}
.About-main-p{
    color: #2026cc;
    text-align: justify;
}

/*Tour*/

.main-background-image-03 {
    background-image: url("img/pic1\ main\ home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Vehicle hire*/

.main-background-image-04 {
    background-image: url("img/vehicle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Contact*/

.main-background-image-05 {
    background-image: url("img/photo0jpg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}